.createNew {
  display: inline-block;
  background-color: #0070f3;
  border-radius: 3px;
  color: #fff;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}
.createNew:hover {
  text-decoration: none;
}
.table {
  border: 1px solid #eaeaea;
  border-radius: 4px;
  min-width: 512px;
  padding-top: 24px;
}
.headerRow {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 32px;
}
.creditCard {
  margin-left: auto;
}
